name: Build & Publish Docker image

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "REPO_NAME=${GITHUB_REPOSITORY@L}" >> $GITHUB_ENV
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_NAME }}:latest
          cache-from: type=local,src=/tmp/.buildx-cache/stripe
          cache-to: type=local,dest=/tmp/.buildx-cache/stripe
        env:
          DOCKER_BUILDKIT: 1
